<div class="container">
    <div class="row">
        <h1>Display project Details</h1>
    </div>
</div>
<div class="row">
    <div class="span3" id="span">
        <div class="well">
            <div>
                <ul class="nav nav-list">
                    <li><label class="tree-toggle nav-header" class="collapsible" style="margin-left: 9px;"
                            (click)="task()">project1</label>

                        <ul class="nav nav-list tree">

                            <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;" (click)="task()"><a
                                    routerLink="#">
                                    <span class="glyphicon glyphicon-home"></span>
                                    Task1</a></li>

                            <div class="col-sm-12 A" style="display:none" id="task1">
                                <div class="row">
                                    <div class="col-sm-6" *ngFor="let item1 of headerOpts1">
                                        <div class="col-sm-8 " style="text-align :center">{{item1}}</div>
                                        <div *ngFor="let item of tname" ng-show="$first">
                                            <div class="col-sm-6 A">
                                                <div class="col-sm-12 A" style=" width: 147%;"><label> Start
                                                        Date:{{item.StartDate}}</label></div>
                                                <div class="col-sm-12 A" style=" width: 147%;"> <label> End
                                                        Date:{{item.EndDate}}</label><br />
                                                </div>
                                                <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                    projectname:{{item.projectname}}</label></div>
                                                <div class="col-sm-12 A" style=" width: 127%;"> <label> Status
                                                        :{{item.Status}}</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;" (click)="task()"><a
                                    routerLink="#">
                                    <span class="glyphicon glyphicon-home"></span>
                                    Task2</a></li>

                            <div class="col-sm-12 A" style="display:none" id="task2">
                                <div class="row">
                                    <div class="col-sm-6" ngFor="let item1 of headerOpts1">
                                        <div class="col-sm-8 " style="text-align :center">{{item1}}</div>
                                        <div *ngFor="let item of tname" ng-show="$first">
                                            <div class="col-sm-6 A">
                                                <div class="col-sm-12 A" style=" width: 147%;"><label> Start
                                                        Date:{{item.StartDate}}</label></div>
                                                <div class="col-sm-12 A" style=" width: 147%;"> <label> End
                                                        Date:{{item.EndDate}}</label><br />
                                                </div>
                                                <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                    projectname:{{item.projectname}}</label></div>
                                                <div class="col-sm-12 A" style=" width: 127%;"> <label>Status
                                                        :{{item.Status}}</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <li><label class="tree-toggle nav-header">project2</label> -->
                            <li><label class="tree-toggle nav-header" class="collapsible" style="margin-left: 9px;"
                                    (click)="task()">project2</label>
                                <ul class="nav nav-list tree">

                                    <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;"
                                        (click)="task()"><a routerLink="#">
                                            <span class="glyphicon glyphicon-home"></span>
                                            Task1</a></li>

                                    <div class="col-sm-12 A" style="display:none">
                                        <div class="row">
                                            <div class="col-sm-6" ngFor="let item1 of headerOpts1">
                                                <div class="col-sm-8 " style="text-align :center">{{item1}}</div>
                                                <div *ngFor="let item of tname" ng-show="$first">
                                                    <div class="col-sm-6 A">
                                                        <div class="col-sm-12 A" style=" width: 147%;"><label> Start
                                                                Date:{{item.StartDate}}</label></div>
                                                        <div class="col-sm-12 A" style=" width: 147%;"> <label> End
                                                                Date:{{item.EndDate}}</label><br />
                                                        </div>
                                                        <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                                Reason:{{item.Reason}}</label></div>
                                                        <div class="col-sm-12 A" style=" width: 127%;"> <label> total
                                                                Days
                                                                :{{item.total}}</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;"
                                        (click)="task()"><a routerLink="#">
                                            <span class="glyphicon glyphicon-home"></span>
                                            Task2</a></li>

                                    <div class="col-sm-12 A" style="display:none">
                                        <div class="row">
                                            <div class="col-sm-6" ngFor="let item1 of headerOpts1">
                                                <div class="col-sm-8 " style="text-align :center">{{item1}}</div>
                                                <div *ngFor="let item of tname" ng-show="$first">
                                                    <div class="col-sm-6 A">
                                                        <div class="col-sm-12 A" style=" width: 147%;"><label> Start
                                                                Date:{{item.StartDate}}</label></div>
                                                        <div class="col-sm-12 A" style=" width: 147%;"> <label> End
                                                                Date:{{item.EndDate}}</label><br />
                                                        </div>
                                                        <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                                Reason:{{item.Reason}}</label></div>
                                                        <div class="col-sm-12 A" style=" width: 127%;"> <label> total
                                                                Days
                                                                :{{item.total}}</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <!-- <li><label class="tree-toggle nav-header">project3</label> -->
                                    <li><label class="tree-toggle nav-header" class="collapsible"
                                            style="margin-left: 9px;" (click)="task()">project3</label>
                                        <ul class="nav nav-list tree">
                                            <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;"
                                                (click)="task()"><a routerLink="#">
                                                    <span class="glyphicon glyphicon-home"></span>
                                                    Task1</a></li>

                                            <div class="col-sm-12 A" style="display:none">
                                                <div class="row">
                                                    <div class="col-sm-6" ngFor="let item1 of headerOpts1">
                                                        <div class="col-sm-8 " style="text-align :center">{{item1}}
                                                        </div>
                                                        <div *ngFor="let item of tname" ng-show="$first">
                                                            <div class="col-sm-6 A">
                                                                <div class="col-sm-12 A" style=" width: 147%;"><label>
                                                                        Start
                                                                        Date:{{item.StartDate}}</label></div>
                                                                <div class="col-sm-12 A" style=" width: 147%;"> <label>
                                                                        End
                                                                        Date:{{item.EndDate}}</label><br />
                                                                </div>
                                                                <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                                        Reason:{{item.Reason}}</label></div>
                                                                <div class="col-sm-12 A" style=" width: 127%;"> <label>
                                                                        total
                                                                        Days
                                                                        :{{item.total}}</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;"
                                                (click)="task()"><a routerLink="#">
                                                    <span class="glyphicon glyphicon-home"></span>
                                                    Task2</a></li>

                                            <div class="col-sm-12 A" style="display:none">
                                                <div class="row">
                                                    <div class="col-sm-6" ngFor="let item1 of headerOpts1">
                                                        <div class="col-sm-8 " style="text-align :center">{{item1}}
                                                        </div>
                                                        <div *ngFor="let item of tname" ng-show="$first">
                                                            <div class="col-sm-6 A">
                                                                <div class="col-sm-12 A" style=" width: 147%;"><label>
                                                                        Start
                                                                        Date:{{item.StartDate}}</label></div>
                                                                <div class="col-sm-12 A" style=" width: 147%;"> <label>
                                                                        End
                                                                        Date:{{item.EndDate}}</label><br />
                                                                </div>
                                                                <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                                        Reason:{{item.Reason}}</label></div>
                                                                <div class="col-sm-12 A" style=" width: 127%;"> <label>
                                                                        total
                                                                        Days
                                                                        :{{item.total}}</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="divider"></li> -->
                    <li><label class="tree-toggle nav-header" class="collapsible"
                        style="margin-left: 9px;" (click)="task()">project4</label>
                        <ul class="nav nav-list tree">
                            <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;"
                            (click)="task()"><a routerLink="#">
                                <span class="glyphicon glyphicon-home"></span>
                                Task1</a></li>

                        <div class="col-sm-12 A" style="display:none">
                            <div class="row">
                                <div class="col-sm-6" ngFor="let item1 of headerOpts1">
                                    <div class="col-sm-8 " style="text-align :center">{{item1}}
                                    </div>
                                    <div *ngFor="let item of tname" ng-show="$first">
                                        <div class="col-sm-6 A">
                                            <div class="col-sm-12 A" style=" width: 147%;"><label>
                                                    Start
                                                    Date:{{item.StartDate}}</label></div>
                                            <div class="col-sm-12 A" style=" width: 147%;"> <label>
                                                    End
                                                    Date:{{item.EndDate}}</label><br />
                                            </div>
                                            <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                    Reason:{{item.Reason}}</label></div>
                                            <div class="col-sm-12 A" style=" width: 127%;"> <label>
                                                    total
                                                    Days
                                                    :{{item.total}}</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;"
                                                (click)="task()"><a routerLink="#">
                                                    <span class="glyphicon glyphicon-home"></span>
                                                    Task2</a></li>

                                            <div class="col-sm-12 A" style="display:none">
                                                <div class="row">
                                                    <div class="col-sm-6" ngFor="let item1 of headerOpts1">
                                                        <div class="col-sm-8 " style="text-align :center">{{item1}}
                                                        </div>
                                                        <div *ngFor="let item of tname" ng-show="$first">
                                                            <div class="col-sm-6 A">
                                                                <div class="col-sm-12 A" style=" width: 147%;"><label>
                                                                        Start
                                                                        Date:{{item.StartDate}}</label></div>
                                                                <div class="col-sm-12 A" style=" width: 147%;"> <label>
                                                                        End
                                                                        Date:{{item.EndDate}}</label><br />
                                                                </div>
                                                                <div class="col-sm-12 A" style=" width: 151%;"> <label>
                                                                        Reason:{{item.Reason}}</label></div>
                                                                <div class="col-sm-12 A" style=" width: 127%;"> <label>
                                                                        total
                                                                        Days
                                                                        :{{item.total}}</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                            <!-- <li><label class="tree-toggle nav-header">Media Queries</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Text</a></li>
                                    <li><a href="#">Images</a></li>
                                    <li><label class="tree-toggle nav-header">Mobile Devices</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">iPhone</a></li>
                                            <li><a href="#">Samsung</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><label class="tree-toggle nav-header">Coding</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">JavaScript</a></li>
                                    <li><a href="#">jQuery</a></li>
                                    <li><label class="tree-toggle nav-header">HTML DOM</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">DOM Elements</a></li>
                                            <li><a href="#">Recursive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
