<div class="container-fluid container-fluid1 ">
  <div class=" col-xs-12" id="mobileHeader">
    <div class=" col-xs-6  topnav">
      <a href="javascript:void(0);" class="icon">
        <i class="glyphicon glyphicon-menu-hamburger" (click)="myFunction()" id="icon"></i>
      </a>
    </div>
    <div class=" col-xs-6 topnav">
      <a href="javascript:void(0);" class="icon1">
        <i class="glyphicon glyphicon-menu-hamburger" (click)=" myFunctionFeedBack()" id="icon"></i>
      </a>
    </div>
  </div>

  <div class="col-sm-12" id="form">


    <div class="row">
      <div class="col-sm-12 leave" style="text-align :center" id="head2">
        <h4>Display Task</h4>
      </div>
    </div>

    <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;  margin-top: 11px;" (click)="task()"><a
        routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Task1</a></li>
    <div class="content" id="tasks" style="display:none">
      <button class="collapsible" (click)="subtask()" id="sub">SubTask</button>
      <div class="content" id="tasks" style="display:none">
        <div *ngFor="let item of names" id="proj">
          <div class="col-sm-5 A">
            <button class="collapsible" (click)="subtask()">{{item}}</button>
            <!-- <label>{{item}}</label> -->
            <div *ngFor="let item of display" class="content" id="tasks" style="display:none">
              <div class="col-sm-5 A" *ngFor="let item of display" id="p1">
                <label> name :{{item.name}}</label>
                <label> StartDate :{{item.StartDate}}</label>
                <label> EndDate:{{item.EndDate}}</label>
                <label> Taskname:{{item.projectname}}</label>
                <label> status:{{item.status}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;" (click)="task()"><a routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Task2</a></li>
    <div class="content" id="tasks" style="display:none">
      <button class="collapsible" (click)="subtask()" id="sub">SubTask2</button>
      <div class="content" id="tasks" style="display:none">
        <div *ngFor="let item of names" id="proj">
          <div class="col-sm-5 A">
            <button class="collapsible" (click)="subtask()">{{item}}</button>
            <!-- <label>{{item}}</label> -->
            <div *ngFor="let item of display" class="content" id="tasks" style="display:none">
              <div class="col-sm-5 A" *ngFor="let item of display" id="p1">
                <label> name :{{item.name}}</label>
                <label> StartDate :{{item.StartDate}}</label>
                <label> EndDate:{{item.EndDate}}</label>
                <label> Taskname:{{item.projectname}}</label>
                <label> status:{{item.status}}</label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;" (click)="task()"><a routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Task3</a></li>
    <div class="content" id="tasks" style="display:none">
      <button class="collapsible" (click)="subtask()" id="sub">SubTask3</button>
      <div class="content" id="tasks" style="display:none">
        <div *ngFor="let item of names" id="proj">
          <div class="col-sm-5 A">
            <button class="collapsible" (click)="subtask()">{{item}}</button>
            <!-- <label>{{item}}</label> -->
            <div *ngFor="let item of display" class="content" id="tasks" style="display:none">
              <div class="col-sm-5 A" *ngFor="let item of display" id="p1">
                <label> name :{{item.name}}</label>
                <label> StartDate :{{item.StartDate}}</label>
                <label> EndDate:{{item.EndDate}}</label>
                <label> Taskname:{{item.projectname}}</label>
                <label> status:{{item.status}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <li id="sidebarleftOpt" class="collapsible" style="margin-left: 9px;" (click)="task()"><a routerLink="#">
        <span class="glyphicon glyphicon-home"></span>
        Task4</a></li>
    <div class="content" id="tasks" style="display:none">
      <button class="collapsible" (click)="subtask()" id="sub">SubTask4</button>
      <div class="content" id="tasks" style="display:none">
        <div *ngFor="let item of names" id="proj">
          <div class="col-sm-5 A">
            <button class="collapsible" (click)="subtask()">{{item}}</button>
            <!-- <label>{{item}}</label> -->
            <div *ngFor="let item of display" class="content" id="tasks" style="display:none">
              <div class="col-sm-5 A" *ngFor="let item of display" id="p1">
                <label> name :{{item.name}}</label>
                <label> StartDate :{{item.StartDate}}</label>
                <label> EndDate:{{item.EndDate}}</label>
                <label> Taskname:{{item.projectname}}</label>
                <label> status:{{item.status}}</label>
              </div>
            </div>
          </div>
        </div>