.container
{

   width: 100%;
}

 input[type=text], input[type=password] {
   width: 70%;
   padding: 5px 10px;
   margin: 8px -200px;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   margin-left: 20px;
 }
 #b1{
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 578px;
    background: blue;
    border-radius: 12px;
    height: 34px;
    width: 65px;

 }
 #b2{
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 578px;
    background: blue;
    border-radius: 12px;
    height: 34px;
    width: 65px;

 }
 input[type=date] {
   width: 27%;
   padding: 5px 10px;
   margin: 8px -200px;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   margin-left: 20px;
 }
 #Feed
 {
   margin-top: 50px;
   background-color: white;
   margin-left: 20px;
   width: 271px;

 }
 #l1
 {
     margin-left: 250px;
 }
 th{padding:20px 7px; font-size:15px; color:#444; background:#66C2E0;}
td{padding:5px 10px; height:35px;}
.row
{
   background-color: white;
   margin-bottom: 15px;
}
table
{
 width: 100%;
}
.row[_ngcontent-c5] {
  background-color: white;
  margin-bottom: -14px;
  margin-left: 29px;
  margin-top: 45px;
}
@media screen and (max-width:600px)
{
   input[type=text], input[type=password] {
       width: 70%;
       padding: 5px 10px;
       margin: 8px 0px;
       display: inline-block;
       border: 1px solid #ccc;
       box-sizing: border-box;
     }
     input[type=date] {
       width: 40%;
       padding: 5px 10px;
       margin: 8px 0px;
       display: inline-block;
       border: 1px solid #ccc;
       box-sizing: border-box;
     }
     #l1
     {
         margin-left: 0px;
     }
    
}