button {
  background: rgba(65, 19, 230, 0.96);
  width: 69px;
  border-radius: 16px;
  margin-top: 10px;
}

#head2{
  text-align: center;
  margin-top: -59px;
  background: white;
}
.divHight {
  height: auto;
  padding-left: 0px;
  padding-right: 0px; 
}
a {
  text-decoration: none;
}
.row[_ngcontent-c3] {
  padding-top: 39px;
}
label {
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
}
input {
  height: 26px;
}


.topnav .icon {
  display: none;
}
#form[_ngcontent-c3] {
  margin-left: 61px;
}
.topnav .icon1 {
  display: none;
}
.docomentAttech {
  background: red;
  height: 62px;
  border-radius: 24px;
}
#form {
  /* background-color: red !important; */
}


.attechmentShow[_ngcontent-c5] {
  width: 608px;
  margin-left: 71px;
  height: 102px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: white;
  margin-top: -150px;
}
#cross_icon {
  color: black;
  margin-top: 4px;
}
#c1{
  background: white;
  height: 177px;
  width: 804px;
}
.form-group {
  margin-top: 18px;
  padding-top: 21px;
}
#head1{
  background: white;
    margin-left: 16px;
    margin-top: -199px;
    width: 808px;
}




.inputFild {
  margin-top: -154px;
  height: 576px;
  background: white;
  padding-left: 56px;
  padding-right: 178px;
  width: 804px;
}
.commentBox[_ngcontent-c7] {
  margin-top: 4px;
  background: white;
  height: 199px;
  width: 70%;
}
.checkBox{
  margin-top: 19px;
  background: white;
  height: 83px;
  width: 197%;
  }
  #task{
    display: inline-block;
    max-width: 122%;
    margin-bottom: -13px;
    /* font-weight: 700; */
    margin-left: 202px;
  }
  
    #btn[_ngcontent-c3] {
      width: 83px;
    margin-top: -45px;
    margin-left: 379px;
    }
  #Addtask{
    background: white;
    margin-left: 15px;
    margin-top: -85px;
    width: 784px;
}

  

  

.pad {
  margin-top: 9px;
  text-align: right;
}

.form-groupfirstRow {
  margin-top: 1px;
}
.midDiv {
  height: 450px;
  overflow: auto;
}
.form-control {
  padding: 3px 12px;
  width: auto;
}
 
textarea {
  background-color: transparent;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 104px;
  width: 295px;
}
#textarea {
  height: 100px;
}


#btn{
  background-color: #f1f1f1;
  margin-left: 378px;
  width: 52px;
  border-radius: 180px;
}
  #h21{
    margin-top: 252px;
  }





@media screen and (max-width: 600px) {
  #head1[_ngcontent-c3] {
    margin-top: -49px;
}
#overlay{
  margin-right: -51px;
    /* width :44px; */
    padding-left: 75px;
}
#form[_ngcontent-c3][_ngcontent-c3] {
  margin-left: -5px;
}
#head1[_ngcontent-c5] {
  background: white;
  margin-left: 16px;
  margin-top: -218px;
  width: 808px;
}
  #mobileHeader{
    margin-top: 9px;
    background: black;
    width: 822px;
  }
  input#file[_ngcontent-c3] {
    margin-left: 80px;
    margin-bottom: 5px;
  }
  .attechmentShow[_ngcontent-c3] {
    width: 315px;
  }
  #textarea[_ngcontent-c3] {
    height: 75px;
  }
  textarea[_ngcontent-c3] {
    height: 79px;
    width: 154px;
  }

  .inputFild[_ngcontent-c5] {
    margin-top: -183px;
    height: 576px;
    background: white;
    padding-left: 56px;
    padding-right: 178px;
    width: 804px;
}
  .headertext[_ngcontent-c3] {
    margin-top: 26px;
    height: 50px;
    padding-top: 2px;
  }
  .form-control[_ngcontent-c3] {
    padding: 3px 12px;
    width: 100%;
  }
  
  
  
  .checkBox[_ngcontent-c5] {
    margin-top: 19px;
    background: white;
    height: 83px;
    width: 265%;
}
  
 
  .sidebarleftA {
    display: none !important;
  }
  .sidebarleftB {
    display: block !important;
    margin-left: 20px;
    padding-left: 20px;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav a.icon1 {
    float: right;
    display: block;
  }

  
  ul {
    padding-left: 21px;
    font-size: 14px;
  }

  .glyphicon-menu-hamburger {
    font-size: 25px;
  }
  
  
  .glyphicon-menu-hamburger[_ngcontent-c5] {
    font-size: 25px;
    margin-left: -24px;
    margin-right: -3px;
}
  .col-sm-3 right-sidebar {
    display: none;
  }
  #myTopnav[_ngcontent-c3] {
    position: absolute;
    z-index: 2;
    width: 110px;
    margin-top: 28px;
    margin-left: 20px;
    padding-left: 20px;
}
 
}


