<!-- <header class="container-fluid header">
   <div class="row">
    <div class="col-sm-3">
      <div class="col-sm-12">
        <img src="/assets/images/MantraLogo.jpg" alt="Italian Trulli">
      </div>
    </div>
    <div class="col-sm-6  col-sm-offset-1">
      <input id="input" type="search" placeholder="Search.." name="search">
      <button type="button">
            Search
        </button>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <span><img src="/assets/images/ravi.jpg" alt="Italian Trulli"></span>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 topBox">cndncjk</div>
    <div class="col-sm-6 midBoxA">cndncjk</div>
    <div class="col-sm-6 midBoxB">cndncjk</div>
    <div class="col-sm-12 bottomBox">cndncjk</div>

  </div>
</div> 
<header class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <div class="col-sm-12">
              <img src="/assets/images/MantraLogo.jpg" alt="Italian Trulli">
               <label>Mantravat Infotech LLp</label> 
          </div>
      </div>
      <div class="col-sm-6  col-sm-offset-1">
          <input type="search" placeholder="Search.." name="search">
          <button type="button">
              <span  class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
           <label>ravindra lodhi</label> 
          <span id="bellIcon" class="glyphicon glyphicon-bell"></span>
          <span><img  src="/assets/images/ravi.jpg" alt="Italian Trulli"></span>
      </div>
  </div>
</header>-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container" style="margin-top:30px; margin-left: 75px;">
  <div class="row">
    <div class=" col-xs-6  topnav"style="width:100%">
        <a href="javascript:void(0);" class="icon">
            <i class="glyphicon glyphicon-menu-hamburger" (click)="myFunction()" id="icon"></i>
        </a>
    </div>
  <div class="row" id="div1">
    <h2 align="center">User Profile</h2>


    <div class="col-md-12 ">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>User Profile</h4>
        </div>
        <div class="panel-body">

          <div class="box box-info">

            <div class="box-body">
              <div class="col-sm-6">
                <div align="center" > <img alt="User Pic"
                    src="/assets/images/nobody.jpg"
                    id="profile-image1" class="img-circle img-responsive" >

                  <input id="profile-image-upload" class="hidden" type="file">
                  <div style="color:#999;" (click)="img()">click here to change profile image</div>
                  <!--Upload Image Js And Css-->







                </div>

                <br>

                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <span> <h4 style="color:#00b1b1;">Aditya Kumar Dubey</h4></span>
                <span>
                  <p>Internship Trainee</p>
                </span>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">


              <div class="col-sm-5 col-xs-6 tital ">First Name:</div>
              <div class="col-sm-7 col-xs-6 ">Aditya</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Middle Name:</div>
              <div class="col-sm-7"> Kumar</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Last Name:</div>
              <div class="col-sm-7"> Dubey</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Date Of Joining:</div>
              <div class="col-sm-7">24 Jan 2019</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
              <div class="col-sm-7">02 Feb 1996</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Place Of Birth:</div>
              <div class="col-sm-7">Daltonganj</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Nationality:</div>
              <div class="col-sm-7">Indian</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital ">Relition:</div>
              <div class="col-sm-7">Hindu</div>


              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>


        </div>
      </div>
    </div>
    <script>
         
    </script>









  </div>
</div>