<!-- <header class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <div class="col-sm-12">
              <img src="/assets/images/MantraLogo.jpg" alt="Italian Trulli">
          </div>
      </div>
      <div class="col-sm-6  col-sm-offset-1">
          <input type="search" placeholder="Search.." name="search">
          <button type="button">
              <span  class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
          <span id="bellIcon" class="glyphicon glyphicon-bell"></span>
          <span><img  src="/assets/images/ravi.jpg" alt="Italian Trulli"></span>
      </div>
  </div>
</header> -->

<div class="container-fluid container-fluid1 ">
    <div class="row">
        <div class=" col-xs-6  topnav">
            <a href="javascript:void(0);" class="icon">
                <i class="glyphicon glyphicon-menu-hamburger" (click)="myFunction()" id="icon"></i>
            </a>
        </div>
        <div class=" col-xs-6 topnav">
            <a href="javascript:void(0);" class="icon1">
                <i class="glyphicon glyphicon-menu-hamburger" (click)=" myFunctionFeedBack()" id="icon"></i>
            </a>
        </div>

        <div class="col-sm-6 A">
                <div class="row">
                    <div class="col-sm-8  taskBox1">
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-credit-card"></span></div>
                        <div class="col-sm-8 " style="text-align :center"> User Details</div>
                        <!-- <div class="col-sm-2">
                            <div class="task1">
                               
                            </div>  -->
                    </div>
                    <div ngFor="let item of pname" ng-show="$first" style="width: 538px; margin-left: -5px;">
                        <div class="col-sm-12 A" style="    width: 150%;    height: 393px;">
                            <label> Project:Is going on</label><br />
                            <label> EMP-name:Anshul kumari</label><br />
                            <label> project sd:02-02-2019</label><br />
                            <label> project ed:03-06-2019</label><br />
                        </div>

                    </div>
                </div>
            </div>
            <div id="share-buttons">
                    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                    </a>
            </div><div class="fb-share-button"
             data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"
              data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
               class="fb-xfbml-parse-ignore">Share</a></div>
              
        


        <!-- <div class="col-sm-2 sidebarleft" id="myTopnav" style="margin-top: 50px;">
            <ul style="list-style-type:none;">
                <div class="row">
                    <li id="sidebarleftOpt"><a routerLink="/dashboard">
                            <span class="glyphicon glyphicon-home"></span>
                            Dashbord</a></li>
                </div>

                <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="project()"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Project</a></li>
                <div class="content" id="projects" style="display:none">
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/project" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Create Project</a></li>
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/dashboard" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Change Project</a></li>
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/displayproject" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Display Project</a></li>
                </div>


                <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="task()"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Task</a></li>
                <div class="content" id="tasks" style="display:none">
                    <li id="sidebarleftOpt"><a routerLink="/task">
                            <span class="glyphicon glyphicon-home"></span>
                            Create Task</a></li>
                    <li id="sidebarleftOpt"><a routerLink="/dashboard">
                            <span class="glyphicon glyphicon-home"></span>
                            Change Task</a></li>
                    <li id="sidebarleftOpt"><a routerLink="/dashboard">
                            <span class="glyphicon glyphicon-home"></span>
                            Display Task</a></li>
                </div>
                <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="team()"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Team</a></li>
                <div class="content" id="teams" style="display:none">
                    <li id="sidebarleftOpt" ><a routerLink="/createteam" >
                            <span class="glyphicon glyphicon-home"></span>
                            Create Team</a></li>
                    <li id="sidebarleftOpt" ><a routerLink="/changeteam" >
                            <span class="glyphicon glyphicon-home"></span>
                            Change Team</a></li>
                    <li id="sidebarleftOpt" ><a routerLink="/dashboard" >
                            <span class="glyphicon glyphicon-home"></span>
                            Display Team</a></li>
                </div>
                <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;"(click)="leave()"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Leave</a></li>
                <div class="content" id="leaves" style="display:none">
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/dashboard" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Apply Leave</a></li>
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/dashboard" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Leave History</a></li>
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/dashboard" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Leave Status</a></li>
                </div>
                <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="timesheet()"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Timesheet</a></li>
                <div class="content" id="timesheets" style="display:none">
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/timesheet" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Create Timesheet</a></li>
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/changetimesheet" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Change Timesheet</a></li>
                    <li id="sidebarleftOpt" class="collapsible"><a routerLink="/createtimesheet" class="collapsible">
                            <span class="glyphicon glyphicon-home"></span>
                            Display Timesheet</a></li>
                </div>
                <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;"(click)="login()"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Login</a></li>
                <div class="content" id="logins" style="display:none">
                    <li id="sidebarleftOpt" ><a routerLink="/signup" >
                            <span class="glyphicon glyphicon-home"></span>
                            Signup</a></li>
                    <li id="sidebarleftOpt" ><a routerLink="/login" >
                            <span class="glyphicon glyphicon-home"></span>
                            Login</a></li>
                    <li id="sidebarleftOpt" ><a routerLink="/forgotPassword" >
                            <span class="glyphicon glyphicon-home"></span>
                            Forgot Password</a></li>
                </div>
                <li id="sidebarleftOpt" class="collapsible" style="margin-left: -17px;" (click)="profile()"><a routerLink="/dashboard">
                        <span class="glyphicon glyphicon-home"></span>
                        Profile</a></li>
                <div class="content" id="profiles" style="display:none">
                    <li id="sidebarleftOpt" ><a routerLink="/dashboard" >
                            <span class="glyphicon glyphicon-home"></span>
                            Display Profile</a></li>
                    <li id="sidebarleftOpt" ><a routerLink="/dashboard" >
                            <span class="glyphicon glyphicon-home"></span>
                            Change Profile</a></li>

                </div>
            </ul>
        </div> -->
      
        <!-- <div class="col-sm-3  right-sidebar" id="Feed" style="margin-top: 54px;
        ">
            Feed Updates
        </div> -->
    </div>
</div>
<!-- <app-tasks></app-tasks> -->
<!-- <app-profile></app-profile>  -->
 <div id="share-buttons" id=btn>
        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
</div><div class="fb-share-button"
 data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"
  data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
   class="fb-xfbml-parse-ignore" id="btn">Share</a></div>
   
   <div class="container">
        <h2></h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="like">like <span class="glyphicon glyphicon-thumbs-up"></span></button>
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">like ur post</h4>
              </div>
              <div class="modal-body">
                    <div class="form-group " id="textarea">
                            <div class="col-md-6 col-md-6  col-xs-6 col-sm-6 pad">
                              <label class="control-label  label-name" for="template">Coment:</label>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6 ">
                              <textarea placeholder="write something here......" formControlName="LDescription" cols="10"
                                type="text" [(ngModel)]="form.p_LongDescription" name="LDescription"
                                required></textarea>
                            </div>
                          </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      


      <!-- <div class="share-content" id="share">
            <button class="btn-secondary like-review">
              <i class="fa fa-heart" aria-hidden="true"></i> share
            </button>
            
          </div> -->

          <div class="container">
                <h2></h2>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="share">share <span class="glyphicon glyphicon-share"></span></button>
              
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">share on ur timeline</h4>
                      </div>
                      <div class="modal-body">
                            <div class="form-group ">
                                    <div class="col-md-6 col-md-6  col-xs-6 col-sm-6 pad">
                                      <label class="control-label  label-name" for="template">Share post:</label>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6 ">
                                      <textarea placeholder="say something about ......" formControlName="LDescription" cols="10"
                                        type="text" id="p_LongDescription" [(ngModel)]="form.p_LongDescription" name="LDescription"
                                        required></textarea>
                                    </div>
                                  </div>
                      </div>
                      <input id="profile-image-upload" class="hidden" type="file">
                      <div style="color:#999;" (click)="img()">click here to change profile image</div>


                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              

        



<!-- 
          <div class="comment-content" id="coment">
                <button class="btn-secondary like-review">
                  <i class="fa fa-heart" aria-hidden="true"></i> coment
                </button>
              </div> -->

              <div class="container">
                    <h2></h2>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="coment">coment <span class="glyphicon glyphicon-comment"></span></button>
                  
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">create post</h4>
                          </div>
                          <div class="modal-body">
                                <div class="form-group " id="textarea">
                                        <div class="col-md-6 col-md-6  col-xs-6 col-sm-6 pad">
                                          <label class="control-label  label-name" for="template">Coment:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 ">
                                          <textarea placeholder="write something here......" formControlName="LDescription" cols="10"
                                            type="text" id="p_LongDescription" [(ngModel)]="form.p_LongDescription" name="LDescription"
                                            required></textarea>
                                        </div>
                                      </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    
                  </div>

                  <div id="upload-button" class="button">Upload Video</div>
  <div id="upload-input">
    <input id="video_file" name="video_file" type="file">
  </div>
                  

            