img {
  width: 30px;
  height: 30px;
  margin-left: 26px;
  border-radius: 17px;
}
#img {
  width: 85px;
  height: 85px;
  border-radius: 44px;
  margin-top: 27px;
}
.modal-body {
  position: relative;
  padding: 15px;
  width: 229px;
  height: 147px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 61px;
  font-weight: 700;
  margin-left: 15px;
  font-size: 12px;
}
#btn{
  margin-top: 245px;
  margin-left: 28px;
}
.container-fluid {
  background-color: rgba(65, 19, 230, 0.96);
  height: 42px;
  position: relative;
  width: 100%;
}
/* input {
  width: 339px;
  height: 30px;
} */
.row {
  padding-top: 6px;
}
button {
  height: 30px;
}
li {
  padding-top: 10px;
  height: 35px;
}
.container-fluid1 {
  background-color: #ddd;
  height: auto;
}
h2 {
  font-size: 30px;
  margin-top: 42px;
}
.A {
  background-color: rgba(255, 255, 255, 0.86);
  height: 170px;
  margin-top: 3px;
  border-color: #ddd;
  border-width: 6px;
  border-style: solid;
}
.sidebarleft {
  display: block;
}
#sidebarleftOpt:hover {
  background-color: #d3d3d0;
  border-width: 0.5px;
}
a {
  text-decoration: none;
}
.taskBox1 {
  padding: 0px;
  margin-top: -5px;
}
.task1 {
  height: 15px;
  width: 15px;
  margin-top: 1px;
  border-radius: 8px;
  background: red;
}
.task2 {
  height: 15px;
  width: 15px;
  margin-top: 1px;
  border-radius: 8px;
  background: #00ff37;
}
.task3 {
  height: 15px;
  width: 15px;
  margin-top: 1px;
  border-radius: 8px;
  background: #eeff00;
}
.task4 {
  height: 15px;
  width: 15px;
  margin-top: 1px;
  border-radius: 8px;
  background: red;
}
svg {
  margin-top: 13px;
}
.wrapper {
  display: flex;
  justify-content: center;
  background: #000;
  border-radius: 10px;
  margin: 0;

  margin-top: 4px;
}
ul {
  background: white;
}
.right-sidebar {
  background: white;
  height: 517px;
  width: 284px;
}
.topnav .icon {
  display: none;
}
.topnav .icon1 {
  display: none;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
.like-content {
  display: inline-block;
  width: 100%;
  margin: 40px 0 0;
  padding: 40px 0 0;
  font-size: 18px;
  border-top: 10px dashed #eee;
  text-align: center;
}
.like-content span {
color: #9d9da4;
font-family: monospace;
}
.like-content  {
  display: inline-block;
  width: 10%;
  margin: 40px 0 0;
  padding: 40px 0 0;
  font-size: 103px;
  border-top: 10px dashed #eee;
  text-align: center;
  margin-top: -141px;
  margin-left: 330px;
}
.like-content .btn-secondary:hover {
  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
  margin-right: 5px;
}
.animate-like {
animation-name: likeAnimation;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-duration: 0.65s;
}
button[_ngcontent-c5] {
  margin-left: 28px;
    height: 62px;
    font-size: 15px;
    margin-top: -20px;
}
#share[_ngcontent-c5] {
  margin-top: -269px;
  margin-left: 358px;
}
#coment{
  margin-left: 663px;
  margin-top: -384px;
}
#like
{
  margin-top: -135px;
    margin-left: 12px;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
textarea {
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 145px;
    width: 268px;
    height: 87px;
}



/* .sidebarleftA{
    display: block !important;
  }
  .sidebarleftB{
    display: block !important;
  } */
@media screen and (max-width: 600px) {
  .topnav{
    background: black;
    margin-top: -5px; 
  }
  .sidebarleft {
    display: none !important;
    padding: 0px;
  
  }
  .sidebarleftA {
    display: none !important;
  }
  .sidebarleftB {
    display: block !important;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav a.icon1 {
    float: right;
    display: block;
  }
  

  .right-sidebar {
    width: 81px;
    height: 224px;
    display: none;
  }
  .col-xs-2 {
    width: 16.666667%;
    margin: 0px;
    padding: 0px;
  }
  ul {
    padding-left: 1px;
    font-size: 12px;
  }

  .glyphicon-menu-hamburger {
    font-size: 25px;
  }
  #myTopnav {
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-top: 28px;
  }
#Feed{
  position: absolute;
  z-index: 2;
  width: 100px;
  margin-top: 28px;
  margin-left: 311px;
  font-size: 11px;
  }
  .col-sm-3  right-sidebar{
    display: none;
  }
  .right-sidebarB{
    background: white;
    height: 200px;
    width: 284px;
  }
}
